<h1>Várias opções</h1>

<p>Você pode selecionar agora:</p>
<ul>
    <li><a href="/salgadinhos">Salgadinhos</a></li>
    <li><a href="/cafe">Cafés</a></li>
    <li><a href="/bolos">Bolos</a></li>
</ul>