<h1> Cadastre o seu livro aqui:</h1>
<form action="/books/insertbook" method="post" class="form">
 <div class="form-control">
    <label for="tittle"> Titulo: </label>
    <input type="text" name="tittle" placeholder="Digite o titulo">
 </div> 
<div class="form-control">
    <label for="pageqty"> Número de paginas: </label>
    <input type="number" name="pageqty" placeholder="Quantas paginas o livro tem?">
</div>
<input type="submit" value="Cadastrar">
</form>