<h1> Handlebarsssssssss!</h1>
<p> o nome do usuario é {{user.name}} {{user.surname}} e ele tem {{user.age}} anos </p>
{{#if auth}}
<p> voce esta autenticado,<a href="/dashboard"> clique aqui </a> acessar a area de membros </p>
{{/if}}